<div class="col-sm-3 col-md-2 sidebar">
  <div class="sidebar-heading"><i class="glyphicon glyphicon-dashboard"></i> My FindJobs</div>
  <ul class="nav nav-sidebar">
    <li><a href="#">Job Applications</a></li>
    <li><a href="#">View Your Resume</a></li>
    <li><a href="#">Update Resume</a></li>
    <li><a href="">Email Resume</a></li>
    <li><a href="">Download Resume</a></li>
    <li><a href="">My Stat</a></li>
    <li><a href="">Employer Message</a></li>
    <li><a href="">Change password</a></li>
    <li><a href="">Trainings</a></li>
    <li><a href="">Sign Out</a></li>
  </ul>
</div>