// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub-categories{
  display:none;
}
.nav.category-tab{
  margin-bottom:15px;
}
.navbar-header .navbar-brand{
  padding:0;
}